{# {% form_theme profile_form 'bootstrap_5_layout.html.twig'%} 
{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container">
    {{form_start(profile_form)}}
    {{form_widget(profile_form)}}
    <input type="submit" value="submit" class="btn btn-primary"/>
    {{form_end(profile_form)}}
</div>
{% endblock %} #}