{% extends 'baseuser.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <table width="70%" border="1" style="border-collapse:collapse">
            <h1>User Profile</h1>
    <tr>
        <tr>
            <td>User name:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>First name:</td>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>{{ user.lastName }}</td>
        </tr>
    </tr>
    </table>
</div>
{% endblock %}

