{% extends 'base.html.twig' %}

{% block title %}Hello Administrator{% endblock %}

{% block body %}
<div>
    <p style="background-image: url('avata.png');"></p>
</div>


{% endblock %}

{# {% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/adminindex.css')}}"/>
{% endblock %} #}
