{% extends 'baseuser.html.twig' %}

{% block body %}
<div class="container">
    <table class="table" style="text-align: center">
            <th colspan="2">
                YOUR PROFILE
            </th>
        <tr>
            <td>
                <label for="">Username</label>
                <input type="text" name="" id="" class="" autocomplete="">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">FirstName</label>
                <input type="text" name="" id="" class="" autocomplete="">
            </td>
        </tr>
        <tr>
            <td>
                <label for="">LastName</label>
                <input type="text" name="" id="" class="" autocomplete="">
            </td>
        </tr>
{% endblock %}
