{% form_theme feedback_form 'bootstrap_5_layout.html.twig'%}
{% extends 'baseuser.html.twig' %}

{% block title %}Hello Feedback!{% endblock %}

{% block body %}

<div class="container">
    {{form_start(feedback_form)}}
    {{form_widget(feedback_form)}}
    <input type="submit" value="Send" class="btn btn-primary"/>
    {{form_end(feedback_form)}}
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}